<% present_field = ('present' + @session).to_sym %>
<% base_url = '/'+@committee.acronym.downcase+'/attendance/' %>
<% submit_url = base_url + @session %>
<h1><%= @committee.acronym %></h1>
<h2>Attendance</h2>
<p>
<% ('1'..'3').each do |n| %>
  <% if n == @session %>
    <strong>Session <%=n%></strong>
  <% else %>
    <%= link_to 'Session '+n, base_url+n %>
  <% end %> 
<% end %>
</p>
<p class="notice"><%= @notice %></p>
<% if @attendees.empty? %>
  <p>No attendees on record.</p>
<% else %>
  <%= form_tag(submit_url) do %>
    <table>
      <tr>
        <th>Name</th>
        <th>Present</th>
      </tr>
      <% @attendees.each do |attendee| %>
        <%= content_tag_for(:tr,attendee) do %>
          <td><%=attendee.fname%> <%=attendee.lname%></td>
          <td><%= check_box_tag 'std' + attendee.id.to_s + '_present',
            'true',
            attendee[present_field]%></td> 
        <% end %>
      <% end %>
    </table>
    <%= submit_tag 'Update' %>
  <% end %>
<% end %>
