<% present_field = ('present' + @session).to_sym %>
<% base_url = '/'+@committee.acronym.downcase+'/attendance/' %>
<% submit_url = base_url + @session %>
<script type="text/javascript">
  window.onload = function() {
    document.getElementsByClassName('notice')[0].hide().appear({duration: 0.5});
  }
</script>
<header id="banner" class="body">
  <h1><a href="/<%= @committee.acronym.downcase %>"><%= @committee.name %><br />
      <strong>Academy Model UN Conference</strong>
    </a>
  </h1>
  <%= render :partial => "layouts/nav", :locals =>
  {:committee => @committee, :page => :attendance} %>
</header>
<section id="content" class="body content">
<% ('1'..'3').each do |n| %>
  <% if n == @session %>
    <strong>Session <%=n%></strong>
  <% else %>
    <%= link_to 'Session '+n, base_url+n %>
  <% end %> 
<% end %>
<% if @notice %>
  <p class="notice" onclick="$(this).hide().appear();"><%= @notice %></p>
<% end %>
<hr />
<% if @attendees.empty? %>
  <p>No attendees on record.</p>
<% else %>
  <%= form_tag(submit_url) do %>
    <table>
      <tr>
        <th>Name</th>
        <th>Present</th>
      </tr>
      <% @attendees.each do |attendee| %>
        <%= content_tag_for(:tr,attendee) do %>
          <td><%=attendee.fname%> <%=attendee.lname%></td>
          <td><%= check_box_tag 'std' + attendee.id.to_s + '_present',
            'true',
            attendee[present_field]%></td> 
        <% end %>
      <% end %>
    </table>
    <%= submit_tag 'Update' %>
  <% end %>
<% end %>
